/*  Color Palette
    Dark Blue:   #112236
    Blue:        #436280
    Light Blue:  #a3bad2
    Grey Blue:   #dbe4ed
    White
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body{
    height: 100%;
    /*background-color:rgb(229, 229, 229);*/
}

a{
    cursor: pointer;
}

#wrap{
    position: relative;
    max-width: 1200px;
    min-width: 550px;
    height: 100%;
    margin: 0px auto;
    padding: 0;
    /*background: white;*/
}

#header{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 190px;
    min-width: inherit;
    max-width: inherit;
    margin: 0 auto;
    padding-bottom:10px;
    margin-top:5px;
    /*background:white;*/
    background: url('/images/Music.png');
    border: 1px solid #436280);
}

.title{
    height:40px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    border: 1px solid #112236;
    background-color: #436280;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.2em;
}

.title a {
    padding: 0px 10px;
    margin: 0px 10px;
    text-decoration: none;
    color: white;
}

.title a:hover{
    color:#7c7c7c;
}

.title a.selected {
    text-decoration: overline;
}

#micahImg {
    margin-top:10px;
}

.homeContentWrap{
    border: 1px solid #436280;
    margin-bottom:10px;
}

.seperator {
    padding-top:10px;
    width:400px;
    border-bottom: 2px solid #436280;
    margin:auto;
    text-align: center;
}
.seperator p {
    color: #436280;
    max-width: 1200px;
    font-family: 'Open Sans';
    margin: 0px auto 0px auto;
    padding: 10px 15px 0px 15px;
    font-size: 1.5em
}

.contentContainer {
    
}

.flexContentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    max-width: 1200px;
}

.content{
    color: #4b4b4b;
    max-width: inherit;
    font-family: 'Open Sans';
    margin: 0px auto 0px auto;
    padding: 10px 15px 10px 15px;
    line-height: 1.6;
}

.content a {
    text-decoration: none;
    color: #436280;
}

.spacer {
    height:30px;
}

.footer {
    margin-top:50px;
    display:flex;
}

.footer p {
    color: #4b4b4b;
    max-width: inherit;
    font-family: 'Open Sans';
    margin: 0px auto 0px auto;
    font-size: .9em;
}

.footer a{
    text-decoration: none;
    color: #436280;
}