body {
    margin:auto;
    width:900px;
    font-family: monospace;
}

#wrap {
    margin:0;
}

#title {
    margin:10px 0 0 0;
    text-align:center;
}

li {
    list-style-type: none;
}

#menu {
    text-align: center;
    margin: 20px 0 20px 0;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu li a {
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
    background-color:rgb(74, 74, 74);
    
    padding:4px;
}

#menu li a:hover {
    background-color:#a1a1a1;
}

.subMenu {
    position:absolute;
    padding: 0;
    visibility: hidden;
}

#menu li ul li {
    display:block;
}

#menu li ul li a {
    border-top:1px solid black;
    margin: 0;
    width: 100%;
}

.currentPage {
    border: 3px solid black;
}

#leftContent {
    text-align:left;
}
#centerContent {
    text-align:center;
}